*{
    margin: 0;
    padding: 0;

}
.container{
    width: 1200px;
    margin: 0 auto;
    color: aqua;
    padding-top: 10px;
}
.header-part{
    .header-shape{
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 79%);
        background: url('https://images.unsplash.com/photo-1509347528160-9a9e33742cdb'), #0000005d;
        background-size: cover;
        background-position: center center;
        height: 100vh;
        background-blend-mode: multiply;
    }
   
    background: #1f1e1e;
    .container{
       
        .nav-menu{
            display: grid;
            grid-template-columns:1fr 2fr 1fr;;

            h3{
                font-size: 36px;
                color: #fff;
            }
            .top{
                ul{
                    text-align: center;
                    li{
                        display: inline;
                        padding: 5px;
                        a{
                            text-decoration: none;
                            color: aqua;
                        }
                    }
                }
            }

            .main-nav{
                margin-top: 20px;
                display: flex;
                align-items: center;

                .main-menu-items{
                    text-align: center;
                    padding: 10px;
                    background: linear-gradient(90deg, rgba(14,17,20,1) 0%, rgba(27,32,36,1) 100%, rgba(9,9,121,1) 100%);
                    border-radius: 50px;
                   
                    justify-content: space-between;
                    width: 65%;
                    margin: 0 auto;
                    .active {
                        a{
                            color: #ffffff;
                        }
                         
                      }
                    li{
                        display: inline;
                        padding: 5px;
                        a{
                            text-decoration: none;
                            color: aqua;
                            padding: 2px;
                            i{
                                padding: 0px 2px;
                            }
                            position: relative;
                        }
                        .mega-menu{
                            background: linear-gradient(90deg, rgba(47,63,69,1) 0%, rgba(118,114,104,0.8995973389355743) 100%);
                            border-radius: 8px;
                            padding: 10px;
                            margin-top: 30px;
                            position: absolute;
                            display: none;
                            
                            .mega-menu-heading{
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                button{
                                    padding: 10px;
                                    background-color: #0f0f0f;
                                    color: #fff;
                                    border: none;
                                    border-radius: 4px;
                                }   
                            }
                            .megamenu-items{
                              
                                ul{
                                    padding-top: 20px;
                                    padding-bottom: 20px;
                                     text-align: left;
                                    li{
                                      
                                        padding: 8px 15px;
                                            &:hover{
                                                color: red;
                                                background: #666E6B;
                                                padding: 8px 15px;
                                                border-radius: 50px;
                                            }
                                       
                                    }
                                }
                            }
                        }
                        .show {
                            display: block;
                          }
                          
                    }
                    

                   
                    }
                    
                    .search-btn{
                        button{
                            padding: 12px;
                            background: #4ad409;
                            border-radius: 100%;
                            margin-left: -122px;
                            border: none;
                            cursor: pointer;
                        }
                   
                }

            }
            .search-part{
                display: none;
                .search-box{
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    .search-input{
                        width: 80%;
                        input{
                            width: 100%;
                            padding: 20px;
                            border: none;
                            border-radius: 50px;
                        }
                    }
                    .search-btn{
                        button{
                            padding: 12px;
                            background: #4ad409;
                            border-radius: 100%;
                            cursor: pointer;
                            border: none;
                        }
                   
                }
                }
            }
            
        }

        .profile-part{

            text-align: right;
            i{
                margin: 0 10px;
                font-size: 22px;
            }
        }

        .banner-part{
            padding-top: 150px;
            .btn-days{
                
                    padding: 10px;
                    background-color: #413f3fa9;
                    color: #fff;
                    border: none;
                    border-radius: 6px;
                
            }
            h2{
                font-size: 46px ;
                color: #fff;
                font-weight: 400;
                margin-bottom: 20px;
            }
            .btn-percent{
                
                padding: 10px;
                background-color: #80bd10fd;
                color: #fff;
                border: none;
                clip-path: polygon(0 0, 80% 0, 99% 100%, 0% 100%);
                border-radius: 5px;
            
        }
        span{
            font-size: 26px ;
            margin-left: 20px;
        }
        }
    }
}

.trending{
    background: #1f1e1e;
    .trending-header{
        display: flex;
        justify-content: space-between;

        button{
            padding: 10px;
            background-color: #0f0f0f;
            color: #fff;
            border: none;
            border-radius: 4px;
        }
    }

    .tranding-items{
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        padding-bottom: 50px;
        img{
            height: 300px;
            width: 100%;
            border-radius: 10px ;
            margin-bottom: -40px;
        }
        button{
            padding: 10px;
            background-color: #80bd10fd;
            color: #fff;
            border: none;
            clip-path: polygon(0 0, 80% 0, 99% 100%, 0% 100%);
            border-radius: 5px;
            
        }
        .items-names{
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

}



// responsive 


/* Media query for smaller screens (e.g., tablets) */
@media (max-width: 768px) {
    .container{
        width: 100%;
    }
    .header-part{
        .container{
            width: 100%;
            .nav-menu{
                grid-template-columns: repeat(3, 1fr);

            }
            .banner-part{
                padding-top: 20px;
                h2{
                    font-size: 22px;
                }
            }
        }
    }
  }
  
  /* Media query for even smaller screens (e.g., smartphones) */
  @media (max-width: 480px) {
    .container{
        width: 100%;
    }
    .header-part{
        .container  {
            .nav-menu{
                grid-template-columns: repeat(3, 1fr);
                .top{
                    display: none;
                }
                .main-nav{
                    display: none;
                }

            }
            .banner-part{
                padding-top: 20px;
                h2{
                    font-size: 22px;
                }
            }
        }
    }

    .trending{
        .tranding-items{
            grid-template-columns: 1fr;
        }
    }
  }